$color-link: blueviolet;
$color-text: #22023f;

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $color-text;

  a {
    color: $color-link;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  text-align: center;

}

.description {
  text-align: center;
  line-height: 1.5;
  font-size: 1.5rem;
}

.profile {
  display: flex;
  margin-top: 2em;
  text-align: left;

  .image {
    margin-right: 2em;
    @media (max-width: 600px) {
      max-width: 100%;
      margin: 0 auto;
    }
  }
  @media (max-width: 600px) {
    flex-direction: column;
  }

  .details {
    h2 {
      margin: 0 0 1rem 0;
      font-size: 2rem;
    }
  }
}
.back {
  width: 750px;
  hr {
    margin-bottom: 2rem;
  }
  a {
    color: $color-link;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }
}